* {

}

/* * {
  border: red 10px solid;
  padding: 10px;
  margin: 10px 5px 10px 5px;
  margin: 10px 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding: 5px 10px 5px 10px;
  padding: 5px 10px;
} */


#olOne {
  color: red;
}


.ulBio {
  color:blue;
}

body > p {
  color: greenyellow;
}
h1, p {
  border: 1px black solid;
  color: red;
}
body p {
  border: 2px black solid;
}



